.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-gradient);
  background-size: cover;
  font-family: var(--main-font-family);
  font-variation-settings: var(--text-wght);
  background-attachment: fixed;
  max-width: 700px;
  margin: 0 auto;
}

.blur {
  filter: blur(3px);
}

.grayscale {
  filter: grayscale(100%);
}

.sepia {
  filter: sepia(60%);
}

.hue-rotate {
  filter: hue-rotate(150deg);
}

.brightness {
  filter: brightness(40%);
}

.contrast {
  filter: contrast(50%);
}

.saturate {
  filter: saturate(320%);
}

.invert {
  filter: invert(100%) opacity(0.5);
}

.floppy_dialog {
  width: 39px;
  height: 39px;
}

.floppy_button {
  width: 21px;
  fill: var(--mix-blend);
  mix-blend-mode: difference;
  z-index: 2;
}

.header {
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--currentColor);
  font-family: var(--accent-font-family);
  margin: 100px 0;
  padding: 136px 0 25px 0;
}

.header_logo {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  text-transform: uppercase;
}

.header_title {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  margin: 20px 0 25px 0;
  text-transform: uppercase;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  height: 14px;
  padding: 0;
  position: relative;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.theme-menu__item:not(:last-child) {
  margin-block-end: 14px;
}

.theme-menu__item {
  height: 14px;
}

.theme-menu__list {
  margin-inline-start: 16px;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button::after {
  content: "";
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  opacity: 0.6;
  display: block;
  background-color: var(--currentColor);
  transition: transform 0.3s ease;
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible,
.theme-menu__button:hover {
  opacity: 0.6;
}

.card {
  background-color: var(--background-color);
  color: var(--currentColor);
  border: 2px solid var(--border-color);
}

.card_title {
  font-weight: var(--title-wght);
  border-bottom: 2px solid var(--border-color);
  font-size: 18px;
  line-height: 22px;
  min-height: 31px;
  padding: 3px 10px;
}

.img_container {
  border-bottom: 2px solid var(--border-color);
  position: relative;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.card_image {
  width: 100%;
  aspect-ratio: 1/1;
  display: block;
}

.card_label {
  position: absolute;
  right: 25px;
  top: 25px;
  font-family: var(--accent-font-family);
  font-weight: 400px;
  font-size: 14px;
  opacity: 0.5;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--shadow-color), 0 1px var(--shadow-color),
    1px 0 var(--shadow-color), 0 -1px var(--shadow-color);
}

@supports (-webkit-text-stroke: 1px var(--shadow-color)) {
  .card_label {
    -webkit-text-stroke: 1px var(--shadow-color);
    text-shadow: none;
  }
}

.text_container {
  margin: 25px;
}

.card_text {
  font-size: 18px;
}

.card_text:not(:last-child) {
  margin-block-end: 27px;
}

.card_controls {
  margin: 25px;
  display: flex;
  justify-content: flex-end;
  height: 38px;
  gap: 5px;
}

.button {
  border: 2px solid var(--border-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  background-color: var(--background-color);
  color: var(--currentColor);
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--currentColor);
}

.card__icon-button {
  border: 2px solid transparent;
  background-color: var(--background-color);
  padding: 0;
}

.card__icon-button:focus-visible {
  transition: border-color 0.3s ease;
  border-color: var(--currentColor);
}

.card__icon-button:focus {
  outline: none;
}

.card__like-button {
  width: 130px;
}

.button:hover {
  cursor: pointer;
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--mix-blend);
  mix-blend-mode: difference;
}

.card_list_item {
  margin-block-end: 50px;
}

.button_container {
  display: flex;
  justify-content: center;
  margin-block-end: 105px;
}

.save_button {
  display: flex;
  padding: 15px 20px;
  gap: 8px;
  align-items: center;
}

.dialog {
  padding: 30px;
  background-color: var(--background-color);
  color: var(--currentColor);
  font-family: var(--accent-font-family);
  font-size: 14px;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog_container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-block-end: 30px;
}

.dialog_text {
  max-width: 234px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog_button {
  width: 100%;
  height: 38px;
  text-transform: uppercase;
}

@media (width < 376px) {
  .card_label {
    top: 23px;
    right: 11px;
  }

  .body {
    width: 100%;
  }

  .header {
    padding-block-start: 120px;
  }

  .save_button {
    flex-direction: column;
  }

  .floppy_button {
    width: 28px;
    height: 28px;
  }

  .dialog {
    padding: 30px 42px;
    max-width: calc(100% - 30px);
  }

  .dialog_text {
    width: 80%;
  }
}
